.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    background-color: #fff;
    color: #444;
}

.col {
    background-color: #d1d1d1;
    border-radius: 5px;
    padding: 10px;
}

figure {
    text-align: center;
}

img {
    height: 250px;
}